td, th { padding : 6px } 
           th { background-color : coral ; 
                color : white; 
                border : 1px solid white; } 
           td { color : black ; 
                border : 1px solid skyblue }
           h1, h2, h3, h4, h5, p { font-family: calbri; 
